$backgroundColor: #FF9BA1;
$textColor: #FFFFFF;
$textColor2: #C97B80;
$borderColor: #945A5E;
$buttonColor: #C97B80;

$fontFamily: 'Source Code Pro', monospace;
$borderRadius: 5px;
$margin: 50px;

@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button{
    height: 40px;
    font-family: $fontFamily;
    color: $textColor;
    background-color: $buttonColor;
    border: 1px solid $borderColor;
    font-size: calculadora-rem(15);
    border-radius: $borderRadius;
    cursor: pointer;
}

@function calculadora-rem($size){
    $tamanho: $size/16;
    @return $tamanho + rem;
}